<h1>{{> page/title}}</h1>

{{> page/nav}}

<form method="GET" action="/admin/change_products3">
Select Products: 
<select name="product" required>
{{#products}}
  <option value="{&quot;cat_id&quot;: &quot;{{catid}}&quot;, &quot;cat_name&quot;: &quot;{{cat_name}}&quot;, &quot;pid&quot;: &quot;{{pid}}&quot;, &quot;name&quot;: &quot;{{pro_name}}&quot;, &quot;price&quot;: &quot;{{price}}&quot;, &quot;desc&quot;: &quot;{{description}}&quot;}">{{pro_name}}</option>
{{/products}}
</select><br/>
<input type="submit" value="Next" />
</form>